<div ng-controller="VisionCtrl" class="container" ng-init="play()">
    <h1>editor</h1>

    <div class="row">
        <button class="btn btn-info" ng-click="hideDescription = !hideDescription">Challenge Description</button>
        <div ng-hide="hideDescription">
            <div class="well well-sm">{{ details.description }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row compare">
                <h4>After</h4>
                <canvas id="myCanvas" class="img-responsive">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
            <div class="row compare">
                <h4>Before</h4>
                <div id="original-image"></div>
                <!--<img id="original" class="img-responsive" ng-src="static/images/image{{img}}.png" image-load>-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Playthrough controls</h4>
                <h5>Timeline</h5>
                <slider id="imgChanger" floor="{{FLOOR}}" ceiling="{{CEILING}}" ng-model="img"></slider>
            </div>
            <div class="row">
                <div class="btn-group">
                    <button type="button" ng-click="fast_rewind()" ng-model="playControls" btn-radio="'back'" tooltip="Fast Backward" class="btn btn-default">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <button type="button" ng-click="rewind()" ng-model="playControls" btn-radio="'reverse'" tooltip="Reverse" class="btn btn-default">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                    <button type="button" ng-click="stop()" ng-model="playControls" btn-radio="'stop'" tooltip="Stop" class="btn btn-default">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                    <button type="button" ng-click="play()" ng-model="playControls" btn-radio="'play'" tooltip="Play" class="btn btn-default">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button type="button" ng-click="fast_forward()" ng-model="playControls" btn-radio="'forward'" tooltip="Fast Forward" class="btn btn-default">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                </div>
            </div>
            <div class="row" style="height: 100%">
                <h4>Edit the process</h4>
                <button ng-click="process()" class="btn btn-primary">
                    Process Image
                </button>
                <button type="button" class="btn btn-warning" ng-model="autoUpdate" btn-checkbox>
                    Auto-process Code
                </button>
                <div ui-ace="aceOption" ng-model="aceModel" id="code_preview"></div>
            </div>
            <div class="row" ng-show="user" ng-cloak>
                <button ng-click="save()" class="btn btn-success">Save Code To Custom URL</button>
                <a ng-show="saved.link" href="#/{{ saved.link }}" target="_blank">{{ saved.link }} - Click to view</a>
                <p ng-show="saved.link">
                    Copy link and share:
                    <input type="text" class="form-control" id="save_url" value="{{ saved.base }}#/{{ saved.link }}">
                </p>
            </div>
        </div>
    </div>
</div>
