<div class="container">
    <h1>Hello!</h1>

    <p>Welcome to the ShereCar Projects computer vision exploratorium! Here you will find computer vision references and tutorials in the form of challenges to help you get a better understanding of computer vision and how it is applies to autonomous vehicles.</p>


    <a class="btn btn-default btn-lg" href="/#/references">
      References
    </a>

    <a class="btn btn-default btn-lg" href="/#/challenges">
      Challenges
    </a>

    <a class="btn btn-default btn-lg" href="/#/editor">
      Algorithm Editor
    </a>

</div>