<div class="container">
  <div class="container">
    <div class="col-md-6">
      <img src="static/logo-sherecar.png" class="img-responsive" alt="Shere Car">
    </div>
    <div class="col-md-6">
      <div class="well">
        <h3>Community Powered Automated Robotics</h3>
        <p>ShereCar is building an online community for people interested in automated robotics. Meet with fellow roboticists online and in person, and discuss projects through specifically built showcase platforms.</p>
        <h4>Self Driving Packages</h4>
        <p>We want to develop community contributed software and hardware packages that people can use to power their automated robots. Ultimately, we wish to provide a kit for self driving cars.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3><a href="http://www.sherecar.org">Online Discussion</a></h3>
      <p>Discuss automation and vision topics with the online community at the ShereCar forums. We've got a wide variety of topics available, such as engineering, artificial intelligence, and virtual worlds. You should feel free to introduce ones too.</p>
    </div>
    <div class="col-md-4">
      <h3><a href="http://www.meetup.com/Self-Driving-Vehicle/">Face to Face</a></h3>
      <p>Engage peers through a meetup group based on central Jersey focused on developing technologies for automated robotics such as self driving cars.</p>
      <p>Upcoming and past events can be viewed at meetup.com, along with details and comments people have made about them.</p>
    </div>
    <div class="col-md-4">
      <h3><a href="http://vision.sherecar.org/#/editor">Vision Exploratorium</a></h4>
      <p>This is the ShereCar Projects computer vision exploratorium! Here you will find computer vision references and tutorials in the form of challenges to help you get a better understanding of computer vision and how it is applies to autonomous vehicles.</p>
      <p><a class="btn btn-default" href="#/references">Learn More &raquo;</a></p>
    </div>
  </div>

  <div class="row">
    <h3><a href="https://github.com/Self-Driving-Vehicle">Github</a></h3>
    <p>View the open source projects in ShereCar. Review the inner workings of ShereCar and help contribute to its growth.</p>
    <ul>
      <li><a href="https://github.com/Self-Driving-Vehicle/computer-vision">Computer Vision</a></li>
      <li><a href="https://github.com/Self-Driving-Vehicle/actuation">Actuation</a></li>
      <li><a href="https://github.com/Self-Driving-Vehicle/Virtual-Worlds">Virtual Worlds</a></li>
    </ul>
  </div>

  <!-- Site footer -->
  <div class="footer">
    <p>&copy; <a href="http://derivatived.com/">derivatived</a> 2013</p>
  </div>
</div>