<div class="container">
    <p><a class="btn btn-default" href="/#/editor">Vision Exploratorium &raquo;</a></p>
    
    <h1>Introduction</h1>
    <p>The Vision Exploratorium is a simple webpage that constantly runs code on a series of images and displays the processed image. Its purpose is to provide a platform people can use to easily demonstrate code and present their work in action. The link above leads to a prototype page that demonstrates the functionality.</p>
    
    <h1>Quick Start</h1>
    <p>To make full use of the webpage features login via the top right button using a Github account.</p>
    <p>The page contains several parts that combine together to work. On the left are the before and after images (after image is on top). On the right are the controls and process code. As the webpage runs through a series of images like a video, the controls can be used to control the play through. The text editor below contains the code that modifies the before image. You should be able to update the code and see the change on the next image creation. The editor only accepts Javascript.</p>
    <p>Click the Process Image button to manually run the before image through the code.</p>
    <p>The Auto-Process Code toggle button causes the website to automatically apply the code to sequential images.</p>
    <p>Use Server Callback provides an alternative to using Javascript. Clicking that toggle button reveals a textfield for a website address. The Exploratorium will call that webpage instead with the query (img=pictureURL). Under development.</p>
    <p>If you’re logged in, there will be a Save option available. This will generate a hashed URL of your current code setup. This will allow you to easily share your vision algorithms through the hashed URL.</p>
</div>