<!DOCTYPE html>
<html>
  <head>
    <title>Shere Car Challenge - Prototype</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/computervision.css" rel="stylesheet" type="text/css" />
    <link href="css/angular-slider.css" rel="stylesheet" type="text/css" />
  </head>
  <body ng-app="computerVision" ng-controller="VisionCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ShereCar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.sherecar.org/" target="_blank">Discuss</a></li>
          <li>
            <span ng-show="user" ng-cloak>
              {{user.login}} | <a href="" ng-click="logout()">Logout</a>
            </span>
            <a href="" ng-hide="user" ng-click="login()">Login</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Before</h4>
          <img id="original" ng-src="static/images/image{{img}}.png" width="90%">
          <slider id="imgChanger" floor="{{FLOOR}}" ceiling="{{CEILING}}" ng-model="img"></slider>
          <a href="" ng-click="fast_rewind()">Fast Rewind</a> | 
          <a href="" ng-click="rewind()">Rewind</a> | 
          <a href="" ng-click="play()">Play</a> |
          <a href="" ng-click="fast_forward()">Fast Forward</a> | 
          <a href="" ng-click="stop()">Stop</a>
        </div>
        <div class="col-lg-6">
          <h4>After</h4>
          <canvas id="myCanvas">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>
      </div>
      <br />
      
      <div class="row">
        <button ng-click="process()" class="btn btn-primary">Process Image</button>
        <input type="checkbox" ng-model="autoUpdate" />Auto-process Code
        <h4>Edit the process</h4>
        <div ui-ace="aceOption" ng-model="aceModel" id="code_preview"></div>
      </div>
    </div>

    <!-- AngularJS --> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
    <script src="./lib/ui-ace.min.js"></script>
    <!-- UI-Slider -->
    <script src="./lib/angular-slider.js"></script>

    <!-- AceJS -->
    <script src="./lib/ace/ace.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
    
    <!-- Self Driving Vehicle -->
    <script type="text/javascript" src="js/shereapp.js" id="ace_code"></script>
  </body>
</html>

