<!DOCTYPE html>
<html>
  <head>
    <title>Shere Car Challenge - Prototype</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/computervision.css" rel="stylesheet" type="text/css" />
  </head>
  <body ng-app="computerVision">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ShereCar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <div class="container" ng-controller="VisionCtrl">
      <div class="row">
        <div class="col-lg-6">
          <h4>Before</h4>
          <img id="original" src="static/images/new_image51.png.png">
        </div>
        <div class="col-lg-6">
          <h4>After</h4>
          <canvas id="myCanvas">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>
      </div>
      <br />
      
      <div class="row">
        <div ui-ace="aceOption" ng-model="aceModel" id="code_preview"></div>
        <button ng-click="process()" onclick="submit()" class="btn btn-primary">Process Image</button>
      </div>
    </div>

    <!-- AngularJS --> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="./lib/ui-ace.min.js"></script>

    <!-- AceJS -->
    <script src="./lib/ace/ace.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
    
    <!-- Self Driving Vehicle -->
    <script type="text/javascript" src="js/shereapp.js" id="afterMe"></script>
    <script src="./js/image_process.js"></script>

  </body>
</html>

